@page "/Register"
<h3>Register</h3>

<EditForm Model="@_model" OnValidSubmit="@(async () => { await RegisterUser(); })">
    <DataAnnotationsValidator/>
    
    <HxInputText Type="InputType.Email" Label="E-mail" @bind-Value="_model.Email"></HxInputText>
    <HxInputText Label="Organizace" @bind-Value="_model.OrganizationName"></HxInputText>
    <HxInputText Type="InputType.Password" Label="Heslo" @bind-Value="_model.Password"></HxInputText>
    <HxInputText Type="InputType.Password" Label="Heslo" @bind-Value="_model.Password2"></HxInputText>
    
    <HxSubmit Color="ThemeColor.Primary" Icon="BootstrapIcon.Save">Registrovat</HxSubmit>
</EditForm>
